.main__about__us__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main__about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    min-height: 65px;
}

.container__about__us {
    align-items: center;
    justify-content: center;
}

.about__us__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.about__us__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.about__us__sub_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    margin-bottom: 5px;

}