.arrow__svg__prev {
    transform: rotate(180deg);
    border-radius: 50%;
}

.arrow__svg__next {
    border-radius: 50%;
}

.main__carousel__container {
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

.main__caroysel__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    width: 100%;
    height: auto;
}

.carousel__item {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.carousel__href{
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.carousel__price {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.caroysel__box__item {
    padding-left: 15px;
}

.caroysel__box__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__href {
    text-decoration: none;
    color: var(--color-light);
    min-width: 150px;
    min-height: 25px;
    background-color: var(--color-orange);
    margin: 0px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}