.contacts__container {
    height: auto;
}

.contacts__body {
    padding-top: 20px;
    display: flex;
    gap: 15%;
    align-items: center;
    justify-content: space-evenly;
}

.img__logo {
    width: 25px;
    border-radius: 50%;
}

.line__container {
    min-width: 320px;
    height: 1px;
    max-width: 1230px;
}

.under__line__container {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .contacts__body {
        flex-direction: column;
    }

    .contacts__map {
        padding-top: 15px;
    }
}