.header {}

.header__clock {
    color: var(--color-dark);
    display: none;
    padding-right:25px ;
}

.header__container {
    background-color: var(--color-light);
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: space-between;
    min-height: 152px;
}

.header__logo {
    width: 25px;
}

.header__logo__img {
    width: 100%;
}

.header__nav {
    display: flex;
    gap: 25px;
}

.nav__section {
    color: var(--color-light);
    text-decoration: none;
}

.theme {
    cursor: pointer;
}

@media (min-width: 280px) {
    .header__container {
        gap: 15px;
    }
    .header__nav {
        gap: 10px;
    }


    .header__logo {
        display: none;
    }
}

@media (min-width: 500px) {
    .header__nav {
        gap: 10px;
    }
    .header__logo {
        display: block;
    }

    .header__clock {
        display: block;
    }
}