.header {}

.header__container {
    background-color: var(--color-light);
    display: flex;
    gap: 25px;
    align-items: center;
    min-height: 152px;
}

.header__logo {
    width: 25px;
}

.header__logo__img {
    width: 100%;
}

.header__nav {
    display: flex;
    gap: 25px;
}

.nav__section {
    color: var(--color-light);
    text-decoration: none;
}

.theme {
    cursor: pointer;
}

@media (min-width: 280px) {
    .header__container {
        gap: 15px;
    }

    .header__nav {
        gap: 10px;
    }

    .header__logo {
        display: none;
    }
}