.header__clock {
    display: none;
    padding-right: 25px;
}

.header__container {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: space-between;
    min-height: 152px;
}

.header__logo {
    width: 25px;
}

.header__logo__img {
    width: 100%;
    border-radius: 50%;
}

.header__nav {
    cursor: pointer;
    display: flex;
    gap: 25px;
}

.nav__section {
    text-decoration: none;
    position: relative;
}

.nav__section::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1.5px;
    transition: width 0.15s;
}

.nav__section:hover:before {
    width: 100%;
}

.theme {
    cursor: pointer;
}

@media (min-width: 280px) {
    .header__container {
        gap: 15px;
    }

    .header__nav {
        gap: 10px;
    }


    .header__logo {
        display: none;
    }
}

@media (min-width: 500px) {
    .header__nav {
        gap: 10px;
    }

    .header__logo {
        display: block;
    }

    .header__clock {
        display: block;
    }
}