.main__order__container {
    display: grid;
    gap: 13%;
    grid-template-columns: 1fr 1fr;
}

.containern__order__img {
    padding-left: 5%;
}

.containern__order__tittle {
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5%;
}

.containern__order__photo {
    max-width: 600px;
}

.order__photo {
    width: 100%;
    height: auto;
}

.containern__order {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding-top: 35px;

}

.singup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 256px;
    margin-bottom: 10px;
}

.text__box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit],
input[type=email],
input[type=tel],
input[type=text] {
    text-align: center;
    padding: 10px 0px 10px 0px;
    border: 1px solid var(--color-light);
    border-radius: 55px;
    /* background-color: var(--color-dark); */
    margin-bottom: 10px;
}

input[type=submit] {
    background-color:var(--color-orange);
}

input {
    max-width: 256px;
}

select {
    text-align: center;
    margin-bottom: 10px;
    border: none;
    padding: 13px 37px 13px 37px;
    border: 1px solid var(--color-dark);
    border-radius: 55px;
    background-color: var(--color-dark);
}

input {
    width: 100%;
}


@media (min-width: 280px) {
    .containern__order__tittle {
        display: none;
    }

    .order__photo {
        min-height: 300px;
    }

    .main__order__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 650px) {
    .containern__order__tittle {
        display: block;
    }

    .main__order__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}